*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
/main.pdf
*.bbl
*.blg
*.gz
*.fls
*.idx
*.cookie
*.toc
*.ilg
*.lof
*.lot
*d
*.bcf
*.aux.make
*.out.make
*.toc.make
*.aux*
*.pdf
others/no_up
!figures/*.pdf
/*.directory
*.pdf.1st.make
*.DS_Store
